In [1]:
!pip install numpy
!pip install matplotlib
!pip install seaborn
!pip install pandas
!pip install sklearn
!pip install pydotplus

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.naive_bayes import GaussianNB
import sklearn as skl
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
import pydotplus

Requirement already satisfied: numpy in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (1.20.1)

WARNING: You are using pip version 20.1.1; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\dudit\pycharmprojects\scientificpython\venv\scripts\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: matplotlib in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (3.3.4)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: numpy>=1.15 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from matplotlib) (1.20.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from matplotlib) (8.1.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from matplotlib) (0.10.0)

WARNING: You are using pip version 20.1.1; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\dudit\pycharmprojects\scientificpython\venv\scripts\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: six>=1.5 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)
Requirement already satisfied: seaborn in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (0.11.1)
Requirement already satisfied: scipy>=1.0 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from seaborn) (1.6.1)
Requirement already satisfied: numpy>=1.15 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from seaborn) (1.20.1)
Requirement already satisfied: pandas>=0.23 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from seaborn) (1.2.2)
Requirement already satisfied: matplotlib>=2.2 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from seaborn) (3.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from pandas>=0.23->seaborn) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from pandas>=0.23->seaborn) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from matplotlib>=2.2->seaborn) (8.1.0)

WARNING: You are using pip version 20.1.1; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\dudit\pycharmprojects\scientificpython\venv\scripts\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: six>=1.5 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->seaborn) (1.15.0)
Requirement already satisfied: pandas in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (1.2.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

WARNING: You are using pip version 20.1.1; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\dudit\pycharmprojects\scientificpython\venv\scripts\python.exe -m pip install --upgrade pip' command.

Collecting sklearn

WARNING: You are using pip version 20.1.1; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\dudit\pycharmprojects\scientificpython\venv\scripts\python.exe -m pip install --upgrade pip' command.

  Using cached sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Using cached scikit_learn-0.24.1-cp38-cp38-win32.whl (6.1 MB)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-2.1.0-py3-none-any.whl (12 kB)
Requirement already satisfied: scipy>=0.19.1 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from scikit-learn->sklearn) (1.6.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from scikit-learn->sklearn) (1.20.1)
Collecting joblib>=0.11
  Using cached joblib-1.0.1-py3-none-any.whl (303 kB)
Using legacy setup.py install for sklearn, since package 'wheel' is not installed.
Installing collected packages: threadpoolctl, joblib, scikit-learn, sklearn
    Running setup.py install for sklearn: started
    Running setup.py install for sklearn: finished with status 'done'
Successfully installed joblib-1.0.1 scikit-learn-0.24.1 sklearn-0.0 threadpoolctl-2.1.0

WARNING: You are using pip version 20.1.1; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\dudit\pycharmprojects\scientificpython\venv\scripts\python.exe -m pip install --upgrade pip' command.

Collecting pydotplus
  Using cached pydotplus-2.0.2.tar.gz (278 kB)
Requirement already satisfied: pyparsing>=2.0.1 in c:\users\dudit\pycharmprojects\scientificpython\venv\lib\site-packages (from pydotplus) (2.4.7)
Using legacy setup.py install for pydotplus, since package 'wheel' is not installed.
Installing collected packages: pydotplus
    Running setup.py install for pydotplus: started
    Running setup.py install for pydotplus: finished with status 'done'
Successfully installed pydotplus-2.0.2

In [2]:
df = pd.read_csv('forestCover3.csv')

In [3]:
df.head()

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,Area_Type,Cover_Type
0,2965.0,51,Slight,258.0,0,510,221.0,232.0,148,6279,Wilderness_Area_1,5
1,2716.0,56,Slight,212.0,-6,390,220.0,235.0,151,6225,Wilderness_Area_1,5
2,3316.0,139,Slight,268.0,65,3180,234.0,238.0,135,6121,Wilderness_Area_1,2
3,3191.0,155,Medium,242.0,118,3090,238.0,238.0,122,6211,Wilderness_Area_1,2
4,2969.0,45,Slight,153.0,-1,391,220.0,234.0,150,6172,Wilderness_Area_1,5

In [4]:
df.describe(include="all")

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,Area_Type,Cover_Type
count,569261.000000,581012.000000,476254,569300.000000,581012.000000,581012.000000,569152.000000,552360.000000,581012.000000,581012.000000,528560,581012.000000
unique,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
top,NaN,NaN,Medium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wilderness_Area_1,NaN
freq,NaN,NaN,188080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,237485,NaN
mean,3279.403226,155.656807,NaN,269.437400,46.418855,2350.146611,212.149055,223.322190,142.528263,1980.291226,NaN,2.051471
std,302.576600,111.913721,NaN,212.620998,58.295232,1559.254870,26.769240,19.770383,38.274529,1324.195210,NaN,1.396504
min,1724.000000,0.000000,NaN,0.000000,-173.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,1.000000
25%,3110.000000,58.000000,NaN,108.000000,7.000000,1106.000000,198.000000,213.000000,119.000000,1024.000000,NaN,1.000000
50%,3314.000000,127.000000,NaN,218.000000,30.000000,1997.000000,218.000000,226.000000,143.000000,1710.000000,NaN,2.000000
75%,3491.000000,260.000000,NaN,384.000000,69.000000,3328.000000,231.000000,237.000000,168.000000,2550.000000,NaN,2.000000
max,8358.000000,360.000000,NaN,1397.000000,601.000000,7117.000000,254.000000,254.000000,254.000000,7173.000000,NaN,7.000000

In [5]:
df.isnull().sum(axis=1).value_counts()

0    387399
1    167684
2     24326
3      1563
4        40
dtype: int64

In [6]:
df.dropna(thresh=11 , inplace=True)

In [7]:
df.isnull().sum(axis=1).value_counts()

0    387399
1    167684
dtype: int64

In [8]:
df.isnull().sum()

Elevation                              7991
Aspect                                    0
Slope                                 85109
Horizontal_Distance_To_Hydrology       7909
Vertical_Distance_To_Hydrology            0
Horizontal_Distance_To_Roadways           0
Hillshade_9am                          8102
Hillshade_Noon                        20065
Hillshade_3pm                             0
Horizontal_Distance_To_Fire_Points        0
Area_Type                             38508
Cover_Type                                0
dtype: int64

In [9]:
df['Slope'].value_counts()

Medium    185541
Slight    168261
Major     116172
Name: Slope, dtype: int64

In [10]:
df['Area_Type'].value_counts()

Wilderness_Area_1    232165
Wilderness_Area_3    225054
Wilderness_Area_4     32746
Wilderness_Area_2     26610
Name: Area_Type, dtype: int64

In [12]:
def na_randomfill(series , values_num):
    na_mask = pd.isnull(series)   # boolean mask for null values // 
    n_null = na_mask.sum()        # number of nulls in the Series // 
    
    most_common_values = series.value_counts()[:values_num]
    
    if n_null == 0:
        return series             # if there are no nulls, no need to resample
    
    # Randomly sample the non-null values from our series
    #  only sample this Series as many times as we have nulls 
    fill_values = most_common_values.sample(n=n_null, replace=True, random_state=0)

    # This ensures our new values will replace NaNs in the correct locations
    fill_values.index = series.index[na_mask]
    
    return series.fillna(fill_values)

In [13]:
df['Slope'] = na_randomfill(df['Slope'])

In [15]:
df['Slope'].value_counts()

Medium    218861
Slight    198919
Major     137303
Name: Slope, dtype: int64

In [25]:
n = 2
df['Area_Type'].value_counts()[:n]
# df['Area_Type'].mode().value_counts()

Wilderness_Area_1    232165
Wilderness_Area_3    225054
Name: Area_Type, dtype: int64

In [ ]:
# df['Area_Type'] = na_randomfill(df['Area_Type'])

In [ ]:
df['Slope'] = pd.Categorical(df['Slope'],ordered=True,categories=['Slight', 'Medium', 'Major']).codes
df['Area_Type'] = pd.Categorical(df['Area_Type'],ordered=True,categories=
                    ['Wilderness_Area_1', 'Wilderness_Area_2', 'Wilderness_Area_3','Wilderness_Area_4']).codes

In [ ]:
df.describe(include="all")

In [ ]:
df.isnull().sum()

In [ ]:
print(df['Elevation'].mean())
print(df['Elevation'].value_counts())

In [ ]:
print(df['Horizontal_Distance_To_Hydrology'].mean())
print(df['Horizontal_Distance_To_Hydrology'].value_counts())
print(df['Horizontal_Distance_To_Hydrology'].var())

In [ ]:
print(df['Hillshade_9am'].mean())
print(df['Hillshade_9am'].value_counts())

In [ ]:
print(df['Hillshade_Noon'].mean())
print(df['Hillshade_Noon'].value_counts())

In [ ]:
df['Elevation'].fillna(df['Elevation'].mean() , inplace=True)
df['Horizontal_Distance_To_Hydrology'].fillna(df['Horizontal_Distance_To_Hydrology'].mean() , inplace=True)
df['Hillshade_9am'].fillna(df['Hillshade_9am'].mean() , inplace=True)
df['Hillshade_Noon'].fillna(df['Hillshade_Noon'].mean() , inplace=True)

In [ ]:
print(df['Elevation'].mean())

In [ ]:
print(df['Horizontal_Distance_To_Hydrology'].mean())

In [ ]:
print(df['Hillshade_9am'].mean())

In [ ]:
print(df['Hillshade_Noon'].mean())

In [ ]:
df['Elevation'].fillna(df['Elevation'].mean() , inplace=True)
df['Horizontal_Distance_To_Hydrology'].fillna(df['Horizontal_Distance_To_Hydrology'].mean() , inplace=True)
df['Hillshade_9am'].fillna(df['Hillshade_9am'].mean() , inplace=True)
df['Hillshade_Noon'].fillna(df['Hillshade_Noon'].mean() , inplace=True)

In [ ]:
df.isnull().sum()

# Task 3

In [ ]:
fig=plt.figure(figsize=(14, 6))
sns.histplot(df.Elevation, bins=100)

In [ ]:
fig=plt.figure(figsize=(15, 10))
sns.histplot(df.Aspect)

In [ ]:
def split(df):
    df = df.copy()
    
    # split df into x and y
    y = df['Cover_Type'].copy()
    x = df.drop('Cover_Type' , axis=1).copy()
    
    # train test split
    x_train , x_test , y_train , y_test = train_test_split( x , y , train_size=0.8 , random_state=123)
    
    return x_train , x_test , y_train , y_test

In [ ]:
tmpData = df.copy()
x_train , x_test , y_train , y_test = split(tmpData)

In [ ]:
def evaluate_model(model , method , x_test , y_test):
    
    modelAcc = model.score(x_test , y_test)
    print("Accuracy ({}): {:.2f}%".format(method , modelAcc * 100))
    
    y_pred = model.predict(x_test)
    
    cm = metrics.confusion_matrix(y_test , y_pred)
    clr = metrics.classification_report(y_test , y_pred , zero_division=0)
    
    plt.figure(figsize =(10,10))
    sns.heatmap(cm , annot=True , fmt='g' , vmin=1 , cbar=False, cmap='coolwarm')
    plt.xlabel('Predicted')
    plt.ylabel('Correct')
    plt.title('Confuion Matrix')
    plt.show()
    
    print("Classification Report: \n" , clr)

In [ ]:
GaussianNB_model = GaussianNB()
GaussianNB_model.fit(x_train , y_train)
evaluate_model(GaussianNB_model , "GaussianNB_model", x_test , y_test)

In [ ]:
DecisionTreeClassifier_model = DecisionTreeClassifier()
DecisionTreeClassifier_model.fit(x_train , y_train)
evaluate_model(DecisionTreeClassifier_model , "DecisionTreeClassifier_model", x_test , y_test)

In [ ]:
fig = plt.figure(figsize=(20,10))

corr = df.corr()
matrix = np.triu(corr.corr())
sns.heatmap(corr, annot= True,  mask=matrix, cmap='coolwarm')

In [ ]:
tmpData2 = df.copy()
# tmpData2 = df.drop(['Aspect', 'Horizontal_Distance_To_Hydrology' , 'Hillshade_9am' , 'Hillshade_3pm'], axis = 1) 
tmpData2 = df[['Elevation','Area_Type' , 'Cover_Type' ]]
print(tmpData2)
x_train , x_test , y_train , y_test = split(tmpData2)

In [ ]:
GaussianNB_model.fit(x_train , y_train)
evaluate_model(GaussianNB_model , "GaussianNB_model", x_test , y_test)

In [ ]:
x_train , x_test , y_train , y_test = split(tmpData)
DecisionTreeClassifier_model.fit(x_train , y_train)
evaluate_model(DecisionTreeClassifier_model , "DecisionTreeClassifier_model", x_test , y_test)